# Explore NYC Yellow Taxi Data using Spark

load and analyze an Open Dataset that tracks NYC Yellow Taxi trips with Spark.

## Load Data

Read NYC Yellow Taxi data as a Spark DataFrame object to manipulate.

In [ ]:
1+1

In [ ]:
# Read NYC yellow cab data from Azure Open Datasets
from azureml.opendatasets import NycTlcYellow

from datetime import datetime
from dateutil import parser

start_date = parser.parse('2018-05-01 00:00:00')
end_date = parser.parse('2018-05-08 00:00:00')


nyc_tlc = NycTlcYellow(start_date=start_date, end_date=end_date)

In [ ]:
display(nyc_tlc)

In [ ]:
dfTaxi = nyc_tlc.to_spark_dataframe()

## Analyze the NYC Taxi data using Spark and notebooks

In [ ]:
dfTaxi.printSchema()

In [ ]:
display(dfTaxi)

## Using SQL, what is the `TotalPassengers` and `TotalTripDistance` by `Vendor` for this time period?

In [ ]:
%%sql
SELECT 
    vendorID,
    sum(passengerCount) as TotalPassengers,
    sum(tripDistance) as TotalTripDistance
FROM dfTaxi
GROUP BY vendorID

# Why didn't that work and what is the fix?

In [ ]:
# put the fix here and rerun the SQL statement

# Trips by PassengerCount
## Look at this query.   We want to save it so we can build a visualization using python.  How?

In [ ]:
%%sql
SELECT 
    passengerCount,
    sum(tripDistance) as SumTripDistance,
    avg(tripDistance) as AvgTripDistance
FROM dfTaxi
GROUP BY passengerCount
ORDER BY passengerCount

# How would you chart the data using the cell output above?  

But let's assume you want to use some fancy python charting library...

In [ ]:
dfDistanceByPassengerCount = ???

## Customize data visualization with Spark and notebooks
You can control how charts render by using notebooks. The following code shows a simple example. It uses the popular libraries matplotlib and seaborn. The code renders the same kind of line chart as the SQL queries we ran earlier.

In [ ]:
import matplotlib.pyplot
import seaborn

seaborn.set(style = "whitegrid")
pdfDistanceByPassengerCount = dfDistanceByPassengerCount.toPandas()
seaborn.lineplot(x="passengerCount", y="SumTripDistance" , data = pdfDistanceByPassengerCount)
seaborn.lineplot(x="passengerCount", y="AvgTripDistance" , data = pdfDistanceByPassengerCount)
matplotlib.pyplot.show()